.card {
  border-radius: var(--border-radius);
  padding: var(--space-5);
  width: fit-content;
  background-color: color-mix(in srgb, var(--campus-color-blanc) 60%, transparent);
  box-shadow: var(--shadow-lift);
  display: flex;
  flex-direction: column;
  align-items: center;
}
