@use '@/app/_layout/breakpoints.scss' as breakpoint;

.donateButton {
	background-color: var(--paypal-color-gold);
	font-family: sans-serif;
	color: var(--paypal-color-blue);
	border-radius: 50px;
	padding: var(--paypal-padding-y) var(--paypal-padding-x);
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	font-weight: bold;
	gap: var(--paypal-gap);
	transition: all 200ms ease-in-out;
	max-height: 42px;
	white-space: nowrap;

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 3px 5px rgba(38, 70, 83, 0.5);
	}

	@media only screen and (max-width: 580px) {
		width: 100%;
	}
}

.footerSection {
	padding: 50px;
	margin-top: 5rem;
	background-color: var(--color-primary);

	.content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 1fr;
		row-gap: 2rem;

		.copy {
			color: var(--color-neutral);

			a {
				text-decoration: underline;
				text-underline-offset: 2px;
				text-decoration-thickness: 2px;
				color: var(--color-neutral);

				&:hover {
					text-decoration: none;
				}
			}
		}

		.contact {
			grid-row: 2 / -1;
		}

		.links {
			grid-row: 2 / -1;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 1rem;
		}
	}

	@media (max-width: calc(580 / 16 * 1rem)) {
		padding: 50px 20px;

		.content {
			grid-template-columns: 1fr;
			grid-template-rows: auto 1fr 1fr;
			row-gap: 1rem;
			align-items: center;

			.contact {
				grid-row: 2 / 3;
			}

			.links {
				grid-row: 3 / -1;
				flex-wrap: wrap;
				justify-content: flex-start;
			}
		}
	}
}
