.hero {
    min-height: 550px;
    height: 100vh;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    background-image: url("/wave-bottom.png"), url("/circle-dual.png");
    background-position: bottom -300px left 0, left -50px top -100px;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, contain;

    h1 {
        margin-bottom: 1rem;
        font-size: 2rem;

        strong {
            font-style: italic;
            color: var(--campus-color-canard);
            text-shadow: 1px 1px 2px var(--campus-color-blanc);
        }
    }

    p {
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
    }

    .imgWrapper {
        grid-column: 2 / 6;

        img {
            width: 300px;
            height: 300px;
            object-fit: contain;
            box-shadow: rgba(42, 83, 89, 0.2) 0px 8px 24px;
        }
    }

    .content {
        grid-column: 6 / -2;
        display: flex;
        flex-direction: column;
        align-items: space-between;

        .date {
            font-weight: bold;
        }
    }

    @media only screen and (max-width: 992px) {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        .content {
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
            text-align: center;
        }
    }

    @media only screen and (max-width: 576px) {
        padding-top: 180px;

        h1 {
            margin: 1rem;
            font-size: 1.5rem;
        }
    }
}