.contactSection {
    min-height: 500px;
    position: relative;
    padding: 50px;
    background-color: var(--mbj-color-white);

    .title {
        position: relative;
        color: var(--mbj-color-black);
        text-align: left;
        margin-bottom: 25px;
        z-index: 1;
    }

    .content {
        max-width: 50%;
        margin: 0 auto 0 0;
        position: relative;
        z-index: 1;
    }

    .separator {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: var(--mbj-color-black);
        clip-path: polygon(55% 0, 100% 45%, 100% 0);
        z-index: 0;
    }

    @media only screen and (max-width: 768px) {
        padding-top: 75px;

        .content {
            max-width: 100%;
            margin: 0;
        }

        .separator {
            clip-path: polygon(25% 0, 100% 35%, 100% 0);
        }
    }

    @media only screen and (max-width: 625px) {
        padding-top: 100px;
    }

    @media only screen and (max-width: 420px) {
        padding-top: 125px;

        .separator {
            clip-path: polygon(0 0, 100% 30%, 100% 0);
        }
    }
}