.socialMedia {
    position: relative;
    max-width: 42px;
    max-height: 42px;

    img {
        transition: all 200ms ease-in-out;
    }
    
    &:hover {
        img {
            transform: translateY(-3px);
            -webkit-filter: drop-shadow(0 3px 5px rgba(38, 70, 83, 0.5));
            filter: drop-shadow(0 3px 5px rgba(38, 70, 83, 0.5));
        }
    }
}