.comingSoon {
    background-color: var(--mbj-color-black);
    padding: 40px 0;
    min-height: 400px;

    h2 {
        font-size: 3rem;
        color: var(--mbj-color-white);
        text-align: center;
    }
}