.appNav {
	padding: 1rem;
	position: relative;
	background-color: var(--campus-color-blanc);
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: space-between;

	svg {
		color: var(--campus-color-canard);
		height: 32px;
		width: 32px;
	}
}
