.staffSection {
    padding: 50px;
    background-color: var(--mbj-color-teal);

    .title {
        color: var(--mbj-color-white);
        text-align: center;
        margin-bottom: 50px;
    }

    .content {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;

        .pronouns {
            text-align: center;
            color: var(--mbj-color-white);
        }


        img {
            filter: grayscale(100%) contrast(1);
        }
    }
}