body,
html {
    height: 100%;
}

body {
    background-color: var(--campus-color-blanc);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-lemon);
        color: var(--campus-color-taupe);
    }

    p,
    a,
    button,
    li {
        font-family: var(--font-rubuk);
        color: var(--campus-color-taupe);
    }

    .olga-page {
        background-color: var(--campus-color-blanc);
        height: 100%;
    }

    h1 {
        font-size: clamp(1.75rem, 3vw, 2.5rem);
        margin-bottom: 1rem;
    }

    h2 {
        font-size: clamp(1.5rem, 2.5vw, 2rem);
        letter-spacing: 0.35rem;
        margin-bottom: 3rem;
        text-shadow: 1px 1px 2px var(--campus-color-blanc);
        text-align: center;
    }

    h3 {
        font-size: clamp(1.25rem, 2.5vw, 1.75rem);
        text-align: center;
        margin-bottom: 1rem;
    }

    p {
        max-width: 50ch;
    }
}