.descriptionSection {
    background-color: var(--mbj-color-black);
    padding: 40px 0;

    h2,
    h3,
    p,
    a {
        color: var(--mbj-color-white);
    }

    h2 {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .content {
        position: relative;
        max-width: 50%;
        margin: 0 auto;

        .logoContainer {
            position: absolute;
            left: 0;
            top: 30%;
            transform: translate(-50%, -50%);
            justify-self: center;
            align-self: center;

            img {
                width: 300px;
                height: 300px;
                opacity: 0.15;
            }
        }

        p {
            br {
                content: "";
                margin: 1em;
                display: block;
            }

            margin-bottom: 20px;
        }

        @media only screen and (max-width: 768px) {
            padding: 20px 50px;
            max-width: 100%;

            .logoContainer {
                left: 50%;
                top: 50%;
            }

            h3 {
                text-align: center;
            }
        }
    }
}