.footer {
    height: 3rem;
    background-color: var(--mbj-color-teal);
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .left {
        grid-column: 1 / 9;
        background-color: var(--mbj-color-salmon);
    }

    .right {
        grid-column: 9 / -1;
        background-color: var(--mbj-color-teal);
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            color: var(--mbj-color-white);
        }
    }

    @media only screen and (max-width: 992px) {
        .left {
            display: none;
        }
        .right{ 
            grid-column: 1 / -1;
        }
    }
}