@use '@/app/_layout/breakpoints.scss' as breakpoint;

.landAcknowledgement {
  grid-row: 1 / 2;

  h2 {
    color: var(--color-neutral);
    letter-spacing: var(--tracking-wider);
    font-size: 1.25rem;
    margin-bottom: var(--space-2);
    text-align: left;
  }

  p {
    color: var(--color-neutral);
    max-width: 60ch;
  }

  @media (max-width: calc(768 / 16 * 1rem)) {
    grid-column: 1 / -1;
  }
}
