.instructorsSection {
    position: relative;
    height: 50vh;
    background-color: var(--mbj-color-black);
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .halfCircle {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: flex-start;
        svg {
            max-height: 200px;
            max-width: 200px;
        }
    }

    .text {
        grid-column: 3 / 8;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        h2 {
            color: var(--mbj-color-white);
            font-size: 4rem;
        }

        .googleLink {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            background-color: var(--mbj-color-white);
            border-radius: 2rem;
            padding: 0.75rem 1.5rem;
            font-weight: bold;
            font-size: 0.875rem;
            color: var(--google-color-blue);
        }
    }

    .linesCircle {
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
    }

    svg {
        color: var(--mbj-color-white);
    }

    @media only screen and (max-width: 1200px) {
        .text {
            h2 {
                font-size: 3rem;
            }
        }
    }


    @media only screen and (max-width: 992px) {
        .halfCircle {
            bottom: -100px;
            top: initial;
            transform: none;
        }

        .text {
            grid-column: 1 / -1;
        }

        .linesCircle {
            top: 2px;

            svg {
                height: 200px;
                width: 200px;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .text {
            h2 {
                font-size: 3rem;
            }

            .googleLink {
                gap: 8px;
                padding: 8px 16px;
                font-weight: bold;
                font-size: 14px;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .linesCircle {
            right: -100px;
        }
    }
}