.backButton {
    padding: 12px 24px;
    border: 1px solid var(--color-dark);
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--color-dark);
    color: var(--color-neutral);
    max-width: fit-content;
}