.missionsSection {
  background-color: var(--campus-color-canard);

  .content {
    width: 100%;

    .missionsTitle {
      color: var(--color-neutral);
      letter-spacing: 0.35rem;
    }

    .missionsContainer {
      width: 100%;
      $dark: var(--color-dark);
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
      gap: var(--spacing-s);
    }
  }
}